.form {
    width: auto;
    height: 100%;
    background-color: #15172b;
    padding: 1.5rem 2.5rem 2rem 2.5rem;
    border-radius: 1rem;
    box-sizing: border-box;
    margin:2rem;
    display:flex;
    flex-direction:column;

}

.title{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top:1rem;
    color:white;
    text-align: center;


}

.subtitle {
    color:white;
    font-size: 1..2rem;
    margin-top: 0.3rem;
    margin-bottom: 2rem;
    text-align: center;


}

.form div{
    color:white;


}

.box label {
    font-size:1.1rem;
}
.box input{

    background-color:#303245;
    border-radius:0.6rem;
    border:0;
    font-size: 1.5rem;
    height: 2.3rem;;
    outline:0;
    width: 100%;
    padding: 0.3rem 1rem 0.3rem 0.5rem;
    margin-top:0.2rem;
    margin-bottom:1rem;
    color:white
}

.invalid input{
    border: 0.1rem solid red;
    background-color:#3f1d1da4;
    transition: 300ms;
  }
  
  .invalid input:hover{
      border: 0.1rem solid red;
      background-color:#303245;
    }
  
  .invalid p{
      color:rgb(218, 63, 63);
      margin-top:0;
      transition: 400ms;
  
  }
.type {
    align-self: center;
    margin: 0.2rem 1rem 1rem 1rem;
    user-select: none

}

.type span{
    background-color:#3340b8;
    border-radius:0.6rem;
    border:0;
    font-size: 1.2rem;
    outline:0;
    width: 100%;
    padding: 0.5rem 3rem 0.5rem 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color:white;
    cursor:pointer;
}
.type span.activeTypeButton{
    background-color:#680000;
}
.type span.activeTypeButton:hover{
    background-color:#680000;
}

.type span:hover, .type span:active{
    background-color:#b83333;
    transition: 200ms;
}



.submit {
    background-color:rgb(95, 21, 155);
    border-radius:0.6rem;
    border:0;
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
    margin-top: 0.4rem;;
    color:white;
    height:3rem;
    width:50%;
}
.submit:hover {
    background-color:rgb(112, 38, 141);
}

.disabled {
    background-color:gray;
    cursor:not-allowed;
}
.disabled:hover {
    background-color:gray;
    cursor:not-allowed;
}

@media only screen and (max-device-width: 1000px) {
    .form {
        width: 25rem;
        background-color: #15172b;
        padding: 1.5rem 2.5rem 2rem 2.5rem;
        border-radius: 1rem;
    }
    .type {
        margin-bottom: 2rem;
    }
    .type span{
        font-size: 1rem;
        padding: 0.7rem 3rem 0.7rem 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .submit {
        width:40%;
        font-size: 1.2rem;
        height:2.4rem;
    }
    .box label {
        font-size:1.1rem;
    }
    .box input{
        font-size:1rem;
        height: 2rem;;
        width: 100%;
        padding: 0.3rem 1rem 0.3rem 0.7rem;
        margin-top:0.2rem;
        color:white
    }
}
@media only screen and (max-device-width: 480px) {

    .form {
        width: 20rem;
        background-color: #15172b;
        padding: 1.5rem 2.5rem 2rem 2.5rem;
        border-radius: 1rem;
    
    }

.type span{
    font-size: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.submit {
    font-size: 1.2rem;
    height:2.4rem;
}
}